<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <%- include('../includes/user/header.ejs') %>

            <section class="" style="height: 80vh;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card shadow-2-strong">
                                <div class="card-body p-5 ">
                                    <div class="text-center">
                                        <h3 class="mb-5">FORGOT PASSWORD</h3>
                                    </div>
                                    <form action="/forgotPassword" method="post">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="otp">Enter your email</label>
                                            <input type="email" class="form-control form-control-lg rounded-0" id="email"
                                                placeholder="Enter your email" name="email" required />
                                                <small class="text-danger"><%=emailNotRegistered?emailNotRegistered:''  %></small>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-md rounded-0 login-btn" type="submit">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../includes/user/footerSection.ejs') %>

    </body>

    <%- include('../includes/footer.ejs') %>
